

.dashboard{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    width: 90vh;
    height: 90vh;
    justify-content: space-around;
}

.left-column{
    flex: 1;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .right-column {
    flex: 1;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .card {
    width: 100%;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  }
  
  
  
  .large-card {
    height: calc(60vh - 40px); 
    width: calc(100vh); 
  }
  
  .small-card {
    height: calc(20vh - 40px);
    width: calc(100vh); 
  
  }
  .right-column .small-card {
    height: calc(30vh - 40px);
    width: calc(30vh);
  }
  .rig-column .small-card {
    height: calc(90vh - 10px);
    width: calc(40vh);
  }
  .left-column .small-card{
  
      height: calc(30vh - 30px);
  }
  
  